
body {
    font-family: Calibri;

}

.titulo {
    background-color: #CF3D2A;
    color: #EDE9D0;
    padding: 20px;
}

.subtitulo {
    background-color: #EDE9D0;
    padding: 20px;
    color: #4F0000;
    
}

.formularios {
    background-color: #4F0000;
    color: #EDE9D0;

}

input[type="text"], input[type="date"], select {

    padding: 4px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h1 {
    font-size: 400%;
}

h5 {
    text-decoration: underline;
}


 .navbar-nav .nav-link.active,
 .navbar-nav .nav-link:hover {
    font-weight: bold;
    text-shadow: 0px 0px 10px black;
}

.col .nav-link h2:hover {
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
}

.col .nav-link h2 {
    background-color: #CF3D2A;
}

